# Copy this file to ".env" (not committed to git) and adjust for your machine.
# In production (PythonAnywhere), you'll set these as real environment
# variables in the WSGI config file instead of using a .env file.

DJANGO_SECRET_KEY=django-insecure-change-this-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
